{% extends 'account/account_base.html' %}
{% load staticfiles %}

{% block account_css %}
{% endblock %}

{% block account_content %}
    <h3>{{ request.user.name }}님의 마이페이지입니다.</h3>
    <a href="/accounts/change/">내정보 수정하기</a>
    <br>

    내가 속한 그룹 <br/>
    <hr>
    {% for joined_group in joined_groups %}
        <a href="{% url 'group_detail' joined_group.group_id  %}">{{ joined_group.group_name }}</a><br/>
    {% endfor %}
    <br>
    <br/>

    참여 대기중인 그룹 <br/>
    <hr>
    {% for waiting_group in waiting_groups %}
        <a href="{% url 'group_detail' waiting_group.group_id  %}">{{ waiting_group.group_name }}</a><br/>
    {% endfor %}
    <br>

    내가 작성한 댓글 <br/>
    <hr>
    {% for comment in mycomments %}
        <a href="{% url 'group_detail' comment.group.group_id  %}">{{ comment.group.group_name }}</a>에서 작성된 댓글 : {{ comment.content }}<br/>
    {% endfor %}
    <br>

{% endblock %}