{% extends 'account/account_base.html' %}
{% load staticfiles %}

{% block account_css %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block account_nav %}
{# ---- Todo: nav 문구 설정 ---- #}
            <div class="nav-header center">
          <h1>소개하세요.</h1>
          <div class="tagline">&nbsp;</div>
        </div>
      </div>
  </nav>
{% endblock %}


{% block account_content %}
<div class="section" id="account">
  <div class="container">
    <div class="row">
      <div class="card">
         <div class="card-content">

            {# 프로필 사진 및 기본정보 #}
            <div class="row card-content-row">
              <div class="col l4 m4 s12">
                <div class="card-profile-wrapper">
{#                  <img src="{{ request.user.photo }}" alt="account-profile" class="card-profile">#}
                  <img src="{% static 'img/user_profile_temp.png' %}" alt="account-profile" class="card-profile circle z-depth-1-half">
                </div>
                <span class=""></span>
              </div>
              <div class="col l8 m8 s12" >

                  <span class="card-title">{{ user.name }}</span>
                  {# Todo: email은 자신의 것만 보인다. #}
              {% if request.user == user %}
                <p>{{ user.email }} <span class="notyet">&nbsp;비공개</span></p>
              {% endif %}

                  {% if user.major == '' %}
                    <p class="notyet">전공정보가 입력되어 있지 않습니다.</p>
                  {% else %}
                    <p>{{ user.major }} | {{ user.minor }}</p>
                  {% endif %}
                  {% if user.description == '' %}
                    <p class="notyet">소개글이 작성되어 있지 않습니다.</p>
                  {% else %}
                    <p>{{ user.description }}</p>
                  {% endif %}

              </div>
            </div>

           <hr>

         <section class="account-group-participating">
           <span class="card-title">
             사용자가 속한 그룹 {{ joined_groups|length }}
            </span>
           <div class="row">
           {% if joined_groups|length == 0 %}
             <p class="notyet">아직 참여중인 그룹이 없습니다.</p>
           {% else %}
             {% for joined_group in joined_groups %}
             <div class="col l4 m6 s12">
             <a href="{% url 'group_detail' joined_group.group_id  %}">
               <div class="card inner-card-sizing">
                 <div class="inner-card-image" style="background-image: url('{{ joined_group.get_group_photo }}');">
                   <div class="inner-background"></div>
                   <span class="inner-card-title">{{ joined_group.group_name }}</span>
                 </div>

               </div>
               </a>
             </div>
            {% endfor %}
           {% endif %}
            </div>
         </section>
         <hr>

         <section class="account-group-waiting">
           <span class="card-title">
             참여 대기중인 그룹 {{ waiting_groups|length }}
            </span>

            <div class="row">
            {% if waiting_groups|length == 0 %}
             <p class="notyet">아직 참여신청한 그룹이 없습니다.</p>
           {% else %}
           {% for waiting_group in waiting_groups %}
             <div class="col l4 m6 s12">
             <a href="{% url 'group_detail' waiting_group.group_id  %}">
               <div class="card inner-card-sizing">
                 <div class="inner-card-image" style="background-image: url('{{ waiting_group.get_group_photo }}');">
                   <div class="inner-background"></div>
                   <span class="inner-card-title">{{ waiting_group.group_name }}</span>
                 </div>

               </div>
               </a>
             </div>
            {% endfor %}
            {% endif %}
            </div>
         </section>


         </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block account_js %}

{% endblock %}