{% load staticfiles %}
  </div>
      <div class="nav-wrapper container">
        <a href="index.html" class="brand-logo">
            <img class="nav-logo" src="{% static 'img/logo_transparent-02.png' %}">
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li id="li_group"><a href="{% url 'group_main' %}">Group</a></li>
          <li id="li_club"><a href="{% url 'club_main' %}">Club</a></li>
{#          <li><a href="blog.html"></a></li>#}
{#          <li><a href="docs.html">Docs</a></li>#}
          <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id='feature-dropdown' class='dropdown-content'>
          <li><a href="full-header.html">Fullscreen Header</a></li>
          <li><a href="horizontal.html">Horizontal Style</a></li>
          <li><a href="no-image.html">No Image Expand</a></li>
        </ul>


