{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffffff">
    {% block meta %}
    {% endblock %}
    <title>[UNIST CLUB]</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    {% block css %}{% endblock %}
</head>
<body>
{% include 'main/header.html' %}
{% block jumbotron %}{% endblock %}
{% block content %}{% endblock %}

{% include 'main/footer.html' %}
{% block js %}{% endblock %}

</body>
</html>