<div class="container-fluid">
  <div class="nav">
    <div class="img-logo">
      <a href="/" id="title_logo">
        <img src="/static/img/logo_transparent-02.png">
      </a>
    </div>
    <ul class="menu-bar">
      <li><a href="">GROUP</a></li>
      <li><a href="">CLUB</a></li>
        {% if user.is_authenticated %}
            <li><a href="">MYPAGE</a></li>
            <li><a href="">LOGOUT</a></li>
        {% else %}
            <li><a href="/accounts/login">LOGIN</a></li>
            <li><a href="/accounts/signup">회원가입</a></li>
        {% endif %}
    </ul>
  </div>
</div>
