{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="center-col">
    <div class="banner">
      <h1>Slide show part</h1>
    </div>
    <hr>
    <div class="container">
      <div class="list-bar vertical-line">
        <ul>
          <li>
            GROUP
            <a href="">
              <div class="cssCircle plusSign">&#43;</div> 
            </a>
          </li>
          <li>
            CLUB
            <a href="">
              <div class="cssCircle plusSign">&#43;</div> 
            </a>
          </li>
        </ul>
      </div>
      <div class="content">
        <!-- we need to divide each case -->
        <div class="content-row">
          <div class="each-content">
          </div>
          <div class="each-content">
          </div>
          <div class="each-content">
          </div>
          <div class="each-content">
          </div>
          <div class="each-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
