{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <title>Unist Club</title>
</head>
<body>
    <header class="header">
        <h1 class="logo"></h1>
        <nav>
            <h2 class="readable-hidden">unistclub</h2>
            <ul class="gnb">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </header>



    </div>

</body>
</html>