{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/index.css' %}" rel="stylesheet">

{#    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">#}

    <title>unist.club</title>
</head>

<body>

    <div class="wrapper container">
	<div class="header">
{#		<ul class="menu">#}
{#			<li>menu1</li>#}
{#			<li>menu2</li>#}
{#		</ul>#}
        <div class="terminal">
            <span class="dollar"></span> Hello, UNIST !!
            <br/>
            <span class="dollar"></span> <b>스터디</b>나 여러 <b>모임</b>을 구할때,
            <br/>
            <span class="dollar"></span> 관심분야의 <b>동아리</b>를 파악할때
            <br/>
            <span class="dollar"></span> 우리의 소통채널은 <b>전단지뿐</b>입니다.
            <br/>
            <span class="dollar"></span> 그래서 <span class="useless">많은 커피를 마시며</span><span> </span>만들고있습니다.
            <br/>
            <br/>
            <span class="dollar"></span> <b>모임과 동아리를 위한 플랫폼,</b>
            <br/>
            <span class="dollar"></span> <b>unist<span class="dot">.</span>club - <span class="dot">coming soon!! </span> ;D</b>
            <br/>
        </div>

		<img class="logo" src="static/img/logo_transparent-02.png">
	</div>

    <button class="link_btn facebook_btn">
  페이지에 들러 스토리보기
</button>



    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

</div>
    <div class="background"></div>
    <div class="background-cover"></div>



</body>
</html>
