.gradient {
  background: #1466d6;
  background: -moz-linear-gradient(108deg, #1466d6 0%, #1cd8d2 100%);
  background: -webkit-linear-gradient(108deg, #1466d6 0%, #1cd8d2 100%);
  background: linear-gradient(108deg, #1466d6 0%, #1cd8d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1466d6', endColorstr='#1cd8d2',GradientType=1 );
}
nav.index {
  background-color: transparent !important;
}
nav .nav-background {
  opacity: 1;
}
/* 배경이미지 들어가는 곳 */
nav .nav-background img,
nav .nav-background .index_pattern {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  transition: opacity .7s;
  background-size: cover;
  background-position: center;
  z-index: 1;
}



nav .nav-background img.active,
nav .nav-background .index_pattern.active {
  opacity: 1;
}

nav .nav-background .index_pattern {
  top: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  background-repeat: repeat;
}

.background-cover {
  z-index: 2;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

}

/* 가운데 문구 */
div.nav-header.index {
  height: 80vh;
}
div.nav-header.index h1{
  margin-top: 25vh;
  font-weight: 300;
  font-size: 3.0rem;
}

div.nav-header.index h1 .strong {
  font-weight: 700 !important;
}

/* index 메인 문구 화면사이즈별 폰트크기*/
@media only screen and (min-width: 993px) {
  div.nav-header.index h1{
    font-size: 43px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  div.nav-header.index h1{
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px) {
  div.nav-header.index h1{
    font-size: 23px;
  }
}
