{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}
    {% block group_css %}{% endblock %}
{% endblock %}

{% block nav %}
{# ---- Todo: nav 배경색 설정 ---- #}
    <nav class="nav-extended light-blue lighten-1">
      <div class="nav-background">
{# ---- Todo: nav 배경이미지 설정 ---- #}
        <div class="pattern active" style="background-image: url('{% static 'img/group_background.jpg' %}');"></div>
{% endblock %}

{% block sub_nav %}
    {% block group_nav %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block group_content %}
    {% endblock %}
{% endblock %}

{% block js %}
    <script>
        $("#li_group").addClass("active");
    </script>
    {% block group_js %}{% endblock %}

{% endblock %}