{% extends 'group/group_base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/group_main.css' %}">
    {% block group_css %}{% endblock %}
{% endblock %}

{% block group_content %}
    <div class="search_wrapper">
        <form id="group_search_form" action="{% url 'group_main' %}" method="post">{% csrf_token %}
            <input type="text" name="search_content"/>
            <button type="submit">검색</button>
        </form>
    </div>
    <br/>

    {% for group in groups %}
        <a href="{{ group.get_absolute_url }}">
            <div class="group_each_wrapper">
                {{ group.group_name }}
            </div>
        </a>
    {% endfor %}
    <a href="{% url 'group_create' %}">그룹 만들기</a>
<h1>group_main</h1>
{% endblock %}

{% block js %}
{% endblock %}