{% extends 'group/group_base.html' %}
{% load staticfiles %}

{% block group_css %}
    <link rel="stylesheet" href="{% static 'css/group_main.css' %}">
{% endblock %}

{% block group_content %}
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
        <div class="container">
            <div class="gallery row">
{% for i in "1234567890123" %}
{#    {% for group in groups %} #}
{#            <a href="{{ group.get_absolute_url }}">#}
{#                <div class="group_each_wrapper">#}
    {#                {{ group.group_name }} <br>#}
    {#                {{ group.group_status }} <br>#}
    {#                {{ group.description }} <br>#}
    {#            </div>#}
    {#        </a>#}
    {#    {% endfor %}#}
                <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
{#                            <img class="responsive-img" src="http://placehold.it/350x250" alt="placeholder">#}
                            <img class="responsive-img" src="{% static 'img/login_card.jpg' %}" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>그룹제목이 들어감</span>
                        </div>
                        <div class="gallery-body">
                            <div class="title-wrapper">
                                <h3>그룹제목이 들어감</h3>
                                <ul class="info">
                                    <li><i class="material-icons">event</i>D-7</li>
                                    <li><i class="material-icons">supervisor_account</i>5명 / 12정원</li>
                                    <li><i class="material-icons">info</i>Study</li>
                                </ul>
                            </div>
                            <hr>
                            <section>
                                <h5>소제목</h5>
                                <p class="description">
                                    안녕하세요 내용 안녕하세요 내용 안녕하세요 내용 안녕하세요 내용 안녕하세요 내용 안녕하세요 내용
                                </p>
                            </section>
                            <section>
                                <h5>소제목</h5>
                                <p class="description">
                                    안녕하세요 내용 안녕하세요 내용 안녕하세요 내용 안녕하세요
                                    <내></내>
                                    용 안녕하세요 내용 안녕하세요 내용
                                </p>
                            </section>
                            <section class="people clearfix">
                                <h5>함께하는 사람들&nbsp;&nbsp;&nbsp;<span class="people-num"><i class="material-icons">supervisor_account</i>5명 / 12정원</span>
                                </h5>

                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>

                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>

                                <br>
                            </section>
                            <section class="people clearfix">
                                <h5>참여대기&nbsp;&nbsp;&nbsp;<span class="people-num"><i class="material-icons">supervisor_account</i>3명</span>
                                </h5>

                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>
                                <div class="people-item col l1 m2 s2 ">
                                    <div class="avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle ">
                                    </div>
                                    <a href=""><h6 class="name">Title</h6></a>
                                </div>

                            </section>

                            <!-- 참여하기 폼으로 넘어가는 버튼 -->




                            <section class="group_comment_write">
                                <ul class="collection card">
                                    <li class="collection-item avatar"> <!-- -->
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle z-depth-1">
<!-- TODO: form action 달기 -->
                                                <form class="input-field">
                                                    <textarea id="comment_form" class="materialize-textarea"></textarea>
                                                    <label for="comment_form">댓글을 입력하세요</label>
                                                    <button type="submit" class="btn right">Submit</button>
                                                </form>

                                    </li>
                                </ul>

                            </section>
                            <section class="group_comment">
                                <ul class="collection card">
                                    {% for i in "12345" %}
                                    <li class="collection-item avatar">
                                        <img src="{% static 'img/user_profile_temp.png' %}" alt="" class="circle z-depth-1">
                                        <span class="title">남현11</span> <span class="time">3일전</span>
                                        <p>
                                            정말 좋은 그룹이네요 ! 꼭 참가하고싶습니다.
                                        </p>
                                        <ul class="list-inline">
{#                                            TODO: 아이콘 애니메이션 넣기 edit 기능 #}
                                            <li><a href="#"><i class="material-icons">thumb_up</i></a></li>
                                            <li><a href="#"><i class="material-icons">mode_edit</i></a></li>
                                            <li><a href="#"><i class="material-icons">delete</i></a></li>
                                        </ul>

                                    </li>
                                    {% endfor %}
                                </ul>
                            </section>

                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">input</i></a>
                        </div>
                    </div>
                </div>
{% endfor %}
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-add"></div>
                </div>

        </div>
<a href="{% url 'group_create' %}">그룹 만들기</a>
    </div><!-- /.container -->


    {# ====== 이전코드, 검색관련 뽑아쓸것 ====== #}
    {#    <div class="search_wrapper">#}
    {#        <form id="group_search_form" action="{% url 'group_main' %}" method="post">{% csrf_token %}#}
    {#            <input type="text" name="search_content"/>#}
    {#            <button type="submit">검색</button>#}
    {#        </form>#}
    {#    </div>#}
    {#    <br/>#}
    {##}
    {#    {% for group in groups %} #}
    {#        <a href="{{ group.get_absolute_url }}">#}
    {#            <div class="group_each_wrapper">#}
    {#                {{ group.group_name }} <br>#}
    {#                {{ group.group_status }} <br>#}
    {#                {{ group.description }} <br>#}
    {#            </div>#}
    {#        </a>#}
    {#    {% endfor %}#}

    {#<h1>group_main</h1>#}
{% endblock %}

