{% extends 'club/club_base.html' %}
{% load staticfiles %}
{% block club_css %}
    <link rel="stylesheet" href="{% static 'css/club/club_detail.css' %}">
{% endblock %}
{% block club_content %}
<h1>club_detail</h1>
{#    {{ club.club_name }} <br/>#}
{#    {{ club.club_status }} <br/>#}
{#    {{ club.meeting_time }} <br/>#}
{#    {{ club.meeting_place }} <br/>#}
{#    {{ club.description }} <br/>#}
{#    {{ club.contact }} <br/>#}
{#    {{ club.apply_start }} <br/>#}
{#    {{ club.apply_end }} <br/>#}

    <hr>

{% endblock %}

{% block js %}
{% endblock %}