{% extends 'club/club_base.html' %}
{% load staticfiles %}

{% block club_css %}
    <link rel="stylesheet" href="{% static 'css/club/club_main.css' %}">
{% endblock %}

{% block club_content %}

{# ====== 이전코드, 뽑아쓸것 ====== #}
{#    {% for club in clubs %}#}
{#        <a href="{{ club.get_absolute_url }}">#}
{#            <div class="club_each_wrapper">#}
{#                {{ club.club_name }} <br>#}
{#                {{ club.club_status }} <br>#}
{#                {{ club.description }} <br>#}
{#            </div>#}
{#        </a>#}
{#    {% endfor %}#}
{#    <a href="{% url 'club_create' %}">동아리 등록하기</a>#}

  <div class="container-fluid form">
    <div class="container">
      <p>club 기능은 현재 업데이트 중에 있습니다.</p>
    </div>
  </div>

{% endblock %}

{% block js %}
{% endblock %}